<div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue darken-1">
                <a href="#" class="brand-logo">Donald Trump Fact Check</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="brown-text">Powered by PolitiFact</li>
                    <li><a type="button" id="scrape">Get New Fact Checks</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li class="brown-text">Powered by PolitiFact</li>
        <li><a type="button" id="scrape">Get New Fact Checks</a></li>
    </ul>
</div>

<div class="container">



    <div class="row">
        <ul class="collection col m7">
            {{#each articles}}
            <li class="collection-item avatar">
                <img src="{{this.rating}}" alt="" class="circle">
                <div class="title">Claim:{{this.title}}
                    <button type="button" data-id={{this._id}} class="btn-small blue darken-1 note-btn">View
                        Summary</button>
                </div>

            </li>
            {{/each}}

        </ul>
        <div id="notes" class="col m5 pin-top" style="top:50px;">

        </div>

    </div>
</div>
<footer class="page-footer blue darken-1">
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <p class="brown-text text-lighten-3">Lee Hawkins</p>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/app.js"></script>


</body>